@import "tailwindcss";

@font-face {
  font-family: "Camera Obscura";
  src: url("./assets/fonts/CameraObscura.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Creato Display Regular";
  src: url("./assets/fonts/CreatoDisplay-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Creato Display Medium";
  src: url("./assets/fonts/CreatoDisplay-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Creato Display Bold";
  src: url("./assets/fonts/CreatoDisplay-Bold.otf") format("opentype");
  font-display: swap;
}

.font-creato-medium {
  font-family: "Creato Display Medium";
}

/* Botões de navegação */
.equipe-swiper .swiper-button-next,
.equipe-swiper .swiper-button-prev {
  color: #173E2A;
}

/* Bolinhas da paginação */
.equipe-swiper .swiper-pagination-bullet {
  background: #173E2A;
  opacity: 0.5;
}

/* Bolinha ativa */
.equipe-swiper .swiper-pagination-bullet-active {
  background: #CA5030;
  opacity: 1;
@font-face {
  font-family: "Creato Display Black";
  src: url("./assets/fonts/CreatoDisplay-Black.otf") format("opentype");
  font-display: swap;
}