@import "tailwindcss";

@font-face {
  font-family: "Camera Obscura";
  src: url("./assets/fonts/CameraObscura.otf");
}

@font-face {
  font-family: "Creato Display";
  src: url("./assets/fonts/CreatoDisplay-Regular.otf");
}

@font-face {
  font-family: "Creato Display Medium";
  src: url("./assets/fonts/CreatoDisplay-Medium.otf");
}

.font-camera {
  font-family: "Camera Obscura";
}

.font-creato {
  font-family: "Creato Display";
}

.font-creato-medium {
  font-family: "Creato Display Medium";
}